html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Cantarel, Fira Sans, Droid Sans, Heveltica Neue, sans-serif;
  line-height: 1.0;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}